In [1]:
---
title: Finance dashboard
description: Dashboard with financial data
show-code: False
params:
    ticker: 
        input: select
        value: TSLA
        label: Select ticker
        choices: [TSLA, COIN, MSFT, PLTR, SNOW, NFLX]
---

SyntaxError: invalid syntax (3973829775.py, line 1)

In [1]:
import yfinance as yf
import mplfinance as mpf

Historic Stock Price

In [2]:
ticker = "TSLA"

In [3]:
history = yf.Ticker(ticker).history(period="3mo")

In [4]:
print(f"3 months low: {history.Low.min().astype(int)}")
print(f"3 months high: {history.High.max().astype(int)}")

3 months low: 101
3 months high: 203

In [5]:
history.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-02 00:00:00-05:00,187.330002,196.750000,182.610001,188.270004,217448300,0.0,0.0
2023-02-03 00:00:00-05:00,183.949997,199.000000,183.690002,189.979996,231684200,0.0,0.0
2023-02-06 00:00:00-05:00,193.009995,198.169998,189.919998,194.759995,186188100,0.0,0.0
2023-02-07 00:00:00-05:00,196.429993,197.500000,189.550003,196.809998,186010300,0.0,0.0
2023-02-08 00:00:00-05:00,196.100006,203.000000,194.309998,201.289993,180154500,0.0,0.0

mpf.plot(history, type='candle', mav=(7),figratio=(18,10))